[submodule "src/thirds/libemqtt"]
	path = src/thirds/libemqtt
	url = https://github.com/menudoproblema/libemqtt.git
[submodule "src/osl/mbed/mbed"]
	path = src/osl/mbed/mbed
	url = https://github.com/mbedmicro/mbed.git
